<!DOCTYPE html>
<html>
<head>
  <title>NewrelicSlaReporter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="#">NewRelic SLA Reporting Tool</a>
    <ul class="nav">
      <li><a href="/">Report</a></li>
      <li><a href="/accounts">Accounts</a></li>
      <li><a href="/accounts/new">New Account</a></li>
    </ul>
  </div>
</div>
</div>

<div class="container">
<%= yield %>
</div>

</body>
</html>
